/* General Style*/
body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(images/paper-background);
    margin: 0px;
}

h1, p {
    margin: 0px;
}

.ps-font {
    font-family: 'Press Start 2P', cursive;
}

.bs-font {
    font-family: 'Bungee Shade', cursive;
}

h1 {
    font-size: 3.5em;
    margin-top: -20px;
}

p {
    font-size: 2em;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

#icon-container {
  height: 230px;
}

/* RPS Icon Animation */
.rps {
  max-width: 220px;
}

/* Start button Animation*/
div > p { 
  transition: all .15s ease-in-out; 
  cursor: default;
  font-size: 2em;
}

.start-hover:hover { 
  text-shadow: 2px 2px 2px #9e8233, 4px 4px 6px rgb(245, 232, 47);
}

#p-container {
  min-height: 2em;
}

/* DOM CSS classes */
.icons {
  max-width: 200px;
  padding: 10px;
  border: 5px solid transparent;
}

.icons:hover {
  border-color: rgb(245, 232, 47);
  transition: border-color 0.50s ease;
}


